<p>course-detail works!</p>

<div *ngIf="course">

    <p><b>ID :</b> {{ course.id }}</p>

    <p><b>Name :</b> {{ course.name }}</p>

    <p><b>Code :</b> {{ course.code }}</p>

    <p><b>Credits :</b> {{ course.credits }}</p>

    <p><b>Status :</b> {{ course.gradeStatus }}</p>

</div>

<br>
<h3>Enrolled Students</h3>

<ul *ngIf="students && students.length > 0; else noStudents">

    <li *ngFor="let student of students">

        {{ student.name }}

    </li>

</ul>

<ng-template #noStudents>
    <p>No students enrolled in this course.</p>
</ng-template>